{% extends "base.html" %}

{% block head %}
<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/bootstrap-modal.css') }}' />
{% endblock %}

{% block bottom %}
{{ super() }}
<!-- thank you http://jschr.github.com/bootstrap-modal/ -->
<script type='text/javascript' src='{{ url_for('static', filename='js/bootstrap-modal.js') }}'></script>
<script type='text/javascript' src='{{ url_for('static', filename='js/bootstrap-modalmanager.js') }}'></script>
<script>
$(function() {
    $('#recent-changes-outer').load('/recent_changes_table.html');
});
</script>
{% endblock %}

{% block content %}
     <div class="row">
       <div class="span12">
         <h2>Recent changes</h2>
         <div id="recent-changes-outer">Loading recent changes ...</div>
       </div>
     </div>
    {% macro buttons(name, count, link) %}
       <div class="col-md-4">
        <h2>{{ name|title }}</h2>
        <p>There are currently <strong>{{ count }} rules</strong> in the database.</p>
        <p><a class="btn btn-primary" href="{{ link }}">Go there &raquo;</a></p>
       </div>
    {%- endmacro %}
    <div class="row">
    {{ buttons(name='rules', count=count_rules, link='/rules.html') }}
    {{ buttons(name='releases', count=count_releases, link='/releases.html') }}
    {{ buttons(name='permissions', count=count_users, link='/permissions.html') }}
     </div>


{% endblock %}
