<form class="form-horizontal" role="form" id="new_rule_form" onsubmit='submitNewRuleForm($("#new_rule_form"), $("#rules_table")); return false;'>
{{ new_rule_form.hidden_tag() }}
{%- for item in [ "mapping",
                  "backgroundRate",
                  "priority",
                  "product",
                  "version",
                  "build_id",
                  "channel",
                  "locale",
                  "distribution",
                  "build_target",
                  "os_version",
                  "dist_version",
                  "comment",
                  "update_type",
                  "header_arch",] %}
  {%- set element = new_rule_form[item] %}
  <div class="form-group">
    {{ element.label(class="col-sm-2 control-label")|safe }}
    <div class="col-sm-6">
      <input type="text" id="{{ element.id|safe }}_new" name="{{ element.id|safe }}_new" class="form-control">
     </div>
  </div>
{%- endfor %}
   <div class="col-sm-offset-2 col-sm-10">
       <input class="btn btn-default" id="button_add_new_rule" type="submit" name="submit" value="Add" />
   </div>
</form>
