{% set permission = form.permission.id %}
<tr id='{{ permission }}_form' data-username='{{ username }}'>
 <td>
 <div class="form-group">
  {{ form.permission(class="form-control", disabled="disabled") }}
 </div>
 </td>
 <td>
 <div class="form-group">
  {{ form.options(class="form-control") }}
  {{ form.data_version()|safe }}
</div>
 </td>
 <td>
 <div class="form-group">
  <button class='btn btn-default' type='button'
      onclick='submitPermissionForm("{{ permission }}_form", "update")'>Update</button>
  <button class='btn btn-default' type='button'
      onclick='submitPermissionForm("{{ permission }}_form", "delete")'>Delete</button>
  </div>
 </td>
</tr>
