{% set permission = form.permission.id %}
<div id="{{ permission }}_form" data-username="{{ username }}">
    <div class="form-group">
        {{ form.permission.label|safe() }}
        {{ form.permission()|safe }}
    </div>
    <div class="form-group">
        {{ form.options.label|safe() }}
        {{ form.options()|safe }}
        {{ form.data_version()|safe }}
    </div>
    <button class="btn btn-primary" type="button"
    onclick='submitPermissionForm("{{ permission }}_form", "update")'>Update</button>
    <button class="btn btn-danger" type="button"
    onclick='submitPermissionForm("{{ permission }}_form", "delete")'>Delete</button>
</div>
