{% if rules %}
&nbsp;
<form id='rules_form'>
<table id='rules_table' class="table table-striped table-condensed">
    <thead> <tr>
        <th>Mapping</th>            <!-- 1 -->
        <th>Background Rate</th>    <!-- 2 -->
        <th>Priority</th>           <!-- 3 -->
        <th>Product</th>            <!-- 4 -->
        <th>Version</th>            <!-- 5 -->
        <th>Build ID</th>           <!-- 6 -->
        <th>Channel</th>            <!-- 7 -->
        <th>Locale</th>             <!-- 8 -->
        <th>Distribution</th>       <!-- 9 -->
        <th>Build Target</th>       <!-- 10 -->
        <th>OS Version</th>         <!-- 11 -->
        <th>Dist Version</th>       <!-- 12 -->
        <th>Comment</th>            <!-- 13 -->
        <th>Update Type</th>        <!-- 14 -->
        <th>Header Architecture</th><!-- 15 -->
        <th>-</th>
    </tr></thead>
    <tbody>
        {% for row in rules %}
        {% set rule_id = row['rule_id'] %}
        {% set form = forms[rule_id] %}
        {% set suffix = '_r'~rule_id %}
        <tr id='rule_{{ rule_id }}'>
            {% include 'fragments/rule_form_row.html' %}
            <td id='Update{{ suffix }}' name='Update{{ suffix }}'>
                <button class="btn btn-default" type='submit' name='save' value='Update' onclick='submitRuleForm({{ rule_id }}); return false;' title="save"/>
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
                <button class="btn btn-default" type='submit' name='submit' value='Delete' onclick='deleteRule({{ rule_id }}); return false;' title="delete"/>
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <button class="btn btn-default" type='submit' name='clone' value='Clone' onclick='cloneRule($("#rules_form"), $("#new_rule_form"), "{{ rule_id }}")' title="clone"/>
                    <span class="glyphicon glyphicon-tags"></span>
                </button>
                <button class="btn btn-default" type='submit' name='revisions' value='Revisions' onclick="location.href='/rules/{{ rule_id }}/revisions/'" title="revisions"/>
                    <span class="glyphicon glyphicon-list-alt"></span>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>
{% endif %}
