<td id='mapping{{ suffix }}' name='mapping{{ suffix }}' class="col-sm-2">
    {{ form.hidden_tag() }}
    {% if 'data_version' in form %} {{ form.data_version()|safe }} {% endif %}
    {{ form.mapping(class="form-control")|safe }}
</td>
<td id='backgroundRate{{ suffix }}' name='backgroundRate{{ suffix }}'>
    {{ form.backgroundRate(class="form-control col-sm-1")|safe }}
</td>
<td id='priority{{ suffix }}' name='priority{{ suffix }}'>
    {{ form.priority(class="form-control col-sm-1")|safe }}
</td>
<td id='product{{ suffix }}' name='product{{ suffix }}'>
    {{ form.product(class="form-control")|safe }}
</td>
<td id='version{{ suffix }}' name='version{{ suffix }}'>
    {{ form.version(class="form-control")|safe }}
</td>
<td id='buildID{{ suffix }}' name='buildID{{ suffix }}'>
    {{ form.build_id(class="form-control")|safe }}
</td>
<td id='channel{{ suffix }}' name='channel{{ suffix }}'>
    {{ form.channel(class="form-control")|safe }}
</td>
<td id='locale{{ suffix }}' name='locale{{ suffix }}'>
    {{ form.locale(class="form-control")|safe }}
</td>
<td id='distribution{{ suffix }}' name='distribution{{ suffix }}'>
    {{ form.distribution(class="form-control")|safe }}
</td>
<td id='buildTarget{{ suffix }}' name='buildTarget{{ suffix }}'>
    {{ form.build_target(class="form-control")|safe }}
</td>
<td id='osVersion{{ suffix }}' name='osVersion{{ suffix }}'>
    {{ form.os_version(class="form-control")|safe }}
</td>
<td id='distVersion{{ suffix }}' name='distVersion{{ suffix }}'>
    {{ form.dist_version(class="form-control")|safe }}
</td>
<td id='comment{{ suffix }}' name='comment{{ suffix }}'>
    {{ form.comment(class="form-control")|safe }}
</td>
<td id='update_type{{ suffix }}' name='update_type{{ suffix }}'>
    {{ form.update_type(class="form-control")|safe }}
</td>
<td id='header_arch{{ suffix }}' name='header_arch{{ suffix }}'>
    {{ form.header_arch(class="form-control")|safe }}
</td>
