<td id="mapping{{ suffix }}">{{ row.mapping|safe }}</td>
<td id="backgroundRate{{ suffix }}">{{ row.backgroundRate|safe }}</td>
<td id="priority{{ suffix }}">{{ row.priority|safe }}</td>
<td id="product{{ suffix }}">{{ row.product|safe }}</td>
<td id="version{{ suffix }}">{{ row.version|safe }}</td>
<td id="buildID{{ suffix }}">{{ row.build_id|safe }}</td>
<td id="channel{{ suffix }}">{{ row.channel|safe }}</td>
<td id="locale{{ suffix }}">{{ row.locale|safe }}</td>
<td id="distribution{{ suffix }}">{{ row.distribution|safe }}</td>
<td id="buildTarget{{ suffix }}">{{ row.build_target|safe }}</td>
<td id="osVersion{{ suffix }}">{{ row.os_version|safe }}</td>
<td id="distVersion{{ suffix }}">{{ row.dist_version|safe }}</td>
<td id="comment{{ suffix }}">{{ row.comment|safe }}</td>
<td id="update_type{{ suffix }}">{{ row.update_type|safe }}</td>
<td id="header_arch{{ suffix }}">{{ row.header_arch|safe }}</td>
{%- set data_version = 0 %}
{%- if "data_version" in row %}
{%- set data_version = row.data_version %}
{%- endif %}
<td id="version_data{{ suffix }}">{{ data_version }}</td>
<td>{{ form.hidden_tag() }}</td>
